#overlay .element-invisible {
    display: none;
}
.assistance .fieldset-description{
    background-color: #f8fff0;
    border: 1px solid #be7;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.dynamic .fieldset-description{
    background-color: #f8fff0;
    border: 1px solid #be7;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.horizontal-tabs-panes .description {
    background-color: #e0ffff;
    border: 1px solid #779ECB;
    padding: 5px 10px;
    margin-top: 15px !important;
}

#block-system-help {
    background-color: #e0ffff;
    border: 1px solid #779ECB;
    padding: 10px 10px 0px 10px;
    margin-bottom: 15px !important;
}

.configsettings {
    margin-bottom: 20px;
}